.card-cartao{
    background-color: var(--nav-color);
    padding: 2rem;
    max-width: 25rem;
    height: 30.6rem;
    color: #fff;
    border-radius: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-cartao:hover{
    transform: scale(1.1);
    transition: all 0.7s ease-out;
}

.card-cartao p{
    margin-top: .5rem;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
}


:root{
    --card-color-one: #92AAFF;
    --white: #fff;
    --green: #60DDE5;
    --card-color-two: transparent;
}

ex{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 95px;
    border-radius: 15px;
    background-image: linear-gradient(
      to bottom right,
      var(--tabs-bg-one),
      var(--tabs-bg-two)
    );
    box-shadow: -1.5px -1.5px 2px -2px var(--white),
      5px 5px 30px rgb(0, 0, 0, 0.2);
    border: 0.5px solid;
    border-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3) transparent
    rgba(255, 255, 255, 0.3);
}

.cartao-demostrativo{
    margin-bottom: 2.8rem;
    width: 20rem;
    /* padding: 1rem; */
    height: 11rem;
    border-radius: .8rem;

    background-image: linear-gradient(
      to bottom right,
      var(--green),
      var(--card-color-two)
    );
    box-shadow: -1.5px -1.5px 2px -2px var(--white),
      5px 5px 30px rgb(0, 0, 0, 0.2);
    border: 0.5px solid;
    border-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3) transparent
    rgba(255, 255, 255, 0.3);

}


/* .cartao-demostrativo{
    margin-bottom: 2.8rem;
    width: 20rem;
    padding: 10px;
    height: 11rem;
    border-radius: .8rem;
    color: aliceblue; */
    /* background-color: rgb(59, 209, 209); */
    /* background: rgba( 146, 170, 255, 0.5 ); */
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    /* backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
 */

 .div-chip{
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 0 0;
  
 }

 .div-chip img{
    width: 46px;
    height: 35px;
 }

.div-line-separator{
  background-color: #fff;
  height: 1.5px;
  width: 100%;
}

.div-card-number{
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  padding: 0 0 1rem 1rem;
  height: 40%;
  display: flex;
  align-items: flex-end;
}

.div-info-cliente-cartao{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
  height: 25%;
}