.navbar-userpage{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1.6rem;
    background-color: #222222;
    align-items: center;
    color: antiquewhite;
}

.container-principal-userpage{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    padding: 5rem;

    background-color: rgb(12, 12, 12);
}

