*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --background-color: #0A0A0A;
  --nav-color : #111111;
  --roxo-claro: #92AAFF;
  --roxo-escuro: #7088DD;
  --preto: #000;
  --branco: #fff;
}

body{
  background-color: var(--background-color);
}