.container-blog{
    width: 65%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #212121;
    border-radius: 1.5rem;
    padding: 2rem;
}
.container-blog-1{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    color: var(--branco);
    gap: 2rem;
}

.container-blog-1 span{
    margin-left: 1rem;
    color: var(--branco);
}

.container-blog-1 p::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: var(--roxo-escuro);
    position: absolute;
    bottom: 0;
    left: 0px;
    transition: .3s ease-in-out;
    
}

.container-blog-1 p{
    color: var(--roxo-escuro);
    position: relative;
    padding: 10px 0;
    font-weight: 500;
}
.container-blog-1 p:hover{
    color: var(--roxo-claro);
    transition: .5s ease-in-out;
}


.container-blog-1 p:hover::after{
    width: 26.5%;
    background-color: var(--roxo-claro);
    transition: .9s all;
}

.separator-2{
    width: 25%;
    height: 2px;
}


.separator{
    width: 80%;
    height: 8px,;
    background-color: var(--roxo-escuro)
}

.container-blog-2{
    line-height: 3rem;
    letter-spacing: 0em;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Archivo Black', sans-serif;
}

.image-div-blog img{
    width: 567px;
    height: 374px;
}