.cadastro{
    display: flex;
    flex-direction: column;

    font-family: 'Archivo', sans-serif;
}

.container-principal-cadastro{
    background-color: #0a0a0a;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-cadastro{
    width: 80%;
    height: 85vh;
    background-color: #111111;
    color: aliceblue;

    display: flex;
    flex-direction: row;
}

.image-div-cad{
    padding: 3rem;
    width: 50%;
    height: 100%;
    background-color: var(--roxo-claro);
}

.cadastro-info-div{
    width: 50%;
    height: 100%;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    color: #0a0a0a;
}

.cad-div-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cad-div-logo img{
    width: 60%;
}

.input-nome, .input-cpf, .input-email, .input-nascimento,
.input-estado, .input-endereco, .input-bairro{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: .6rem;

    width: 31rem;
    height: 3rem;
    background-color:transparent;
    border: 2px solid #333333;
}

.div-endereco-info{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.input-cep, .input-cidade{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: .6rem;

    width: 15rem;
    height: 3rem;
    background-color:transparent;
    border: 2px solid #333333;
}

.input-nome input, .input-cpf input, .input-email input, .input-nascimento input,
.input-estado input, .input-endereco input, .input-bairro input, .input-cep input, .input-cidade input{
    width: 90%;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: #333333;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
}

input{
    border: none;
    outline-offset: 0px;
    outline: none;
}

.image-div-cad{
    /* padding: 3rem; */
    width: 50%;
    height: 100%;
    background-color: var(--roxo-claro);
    display: flex;
    justify-content: left;
    align-items: end;
    background-image: url('../../assets/spirals2.png')
}

.image-div-cad h1{
    font-size: 4.5rem;
    font-weight: 400;
    font-family: 'Archivo Black', sans-serif;
    color: #111111;
    background-color: var(--roxo-claro);
}